@page
@model IndexModel
@{
    ViewData["Title"] = "ЯЧитаю";
}

<div class="container">
    <div class="row">
        <div class="col-md-10">
            
            <h1>ЯЧитаю</h1>

            <p>
                ЯЧитаю - веб-приложение для отслеживания прогресса чтения ваших любимых книг. Сотни жанров, тысячи книг.
                Получайте рекомендации на основе прочитанных произведений и повышайте свой уровень читателя за счет чтения
                любых романов
            </p>
            

            <h1>Новинки<h1>
            <h1>Популярное<h1>
            <h1>Книги дня</h1>
                            <div class="row">
                            @{
                                //foreach(var book in Model.SelectionBooks)
                                //{
                                //        <div class="col">
                                //            <img src="data:image/jpg;base64, @book.Image.ImageData" width="150px" height="200px" />
                                //            <h5>@book.Title</h5>
                                //        </div>
                                //}
                            }
                                <div class="row">
        </div>
        <div class="col-md-2">
            <div class="rounded shadow">
                <p><a href="#">Профиль</a></p>
                <p><a href="#">Книги</a></p>
                <p><a href="#">Авторы</a></p>
                <p><a href="#">Жанры</a></p>
            </div>
        </div>
    </div>
</div>