@page
@model YaChitay.Pages.Admin.Books.CreateModel

@{
    ViewData["Title"] = "Добавление книги";
}

<h1>Добавление</h1>

<h4>Новая книга</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Model.Title" class="control-label"></label>
                <input asp-for="Model.Title" class="form-control" />
                <span asp-validation-for="Model.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model.Description" class="control-label"></label>
                <textarea asp-for="Model.Description" class="form-control"></textarea>
                <span asp-validation-for="Model.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model.Author" class="control-label"></label>
                <input asp-for="Model.Author" class="form-control" />
                <span asp-validation-for="Model.Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model.Size" class="control-label"></label>
                <input asp-for="Model.Size" class="form-control" />
                <span asp-validation-for="Model.Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model.Genres" class="control-label"></label>
                <input asp-for="Model.Genres" class="form-control" />
                <span asp-validation-for="Model.Genres" class="text-danger"></span>
                <p>(жанры через точку с запятой)</p>
            </div>
            <div class="form-group">
                <label asp-for="Model.ReleaseDate" class="control-label"></label>
                <input asp-for="Model.ReleaseDate" class="form-control" />
                <span asp-validation-for="Model.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model.Photo" class="control-label"></label>
                <input type="file" asp-for="Model.Photo" class="form-control" />
                <span asp-validation-for="Model.Photo" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Список книг</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
