@page
@model YaChitay.Pages.Admin.IndexModel
@{
  
}

<h1>Админ-панель</h1>
<h4><a asp-page="/Admin/Books/Index">Книги</a></h4>
<h4><a asp-page="/Admin/Authors/Index">Авторы</a></h4>
<h4><a asp-page="/Admin/Genres/Index">Жанры</a></h4>
