<style>
    div.sidebar {
        height: 100vh;
        background-color: lightgray;
    }

    a.sidebar {
        color: gray;
        font-weight: bold;
        text-decoration: none;
        margin-bottom: 8px;
    }

        a.sidebar:hover {
            color: #22a6b3;
        }
</style>

<div class="sidebar">
    <p><a class="sidebar" href="#">Профиль</a></p>
    <p><a class="sidebar" href="#">Книги</a></p>
    <p><a class="sidebar" href="#">Авторы</a></p>
    <p><a class="sidebar" href="#">Жанры</a></p>
</div>