@page
@model YaChitay.Pages.Admin.Authors.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AuthorModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AuthorModel.Id" />
            <div class="form-group">
                <label asp-for="AuthorModel.Name" class="control-label"></label>
                <input asp-for="AuthorModel.Name" class="form-control" />
                <span asp-validation-for="AuthorModel.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorModel.Surname" class="control-label"></label>
                <input asp-for="AuthorModel.Surname" class="form-control" />
                <span asp-validation-for="AuthorModel.Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorModel.Patronymic" class="control-label"></label>
                <input asp-for="AuthorModel.Patronymic" class="form-control" />
                <span asp-validation-for="AuthorModel.Patronymic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorModel.Nickname" class="control-label"></label>
                <input asp-for="AuthorModel.Nickname" class="form-control" />
                <span asp-validation-for="AuthorModel.Nickname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorModel.Birthplace" class="control-label"></label>
                <input asp-for="AuthorModel.Birthplace" class="form-control" />
                <span asp-validation-for="AuthorModel.Birthplace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorModel.Description" class="control-label"></label>
                <input asp-for="AuthorModel.Description" class="form-control" />
                <span asp-validation-for="AuthorModel.Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AuthorModel.IsDead" /> @Html.DisplayNameFor(model => model.AuthorModel.IsDead)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AuthorModel.IsDeleted" /> @Html.DisplayNameFor(model => model.AuthorModel.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="AuthorModel.DateOfBirth" class="control-label"></label>
                <input asp-for="AuthorModel.DateOfBirth" class="form-control" />
                <span asp-validation-for="AuthorModel.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorModel.DateOfDeath" class="control-label"></label>
                <input asp-for="AuthorModel.DateOfDeath" class="form-control" />
                <span asp-validation-for="AuthorModel.DateOfDeath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorModel.Created" class="control-label"></label>
                <input asp-for="AuthorModel.Created" class="form-control" />
                <span asp-validation-for="AuthorModel.Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
